venv
*~
__pycache__
*.pyc
instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
.DS_Store
site/app/files

credentials.json
token.pickle

.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/shelf/
.idea/vision_api.iml
.idea/misc.xml
.idea/markdown.xml
